{% extends "base.html" %}

{% block content %}
    <div class="mt-3">
        <h2>Palindrome Checker</h2>
        <form method="POST" action="{{ url_for('palindrome') }}">
            <div class="form-group">
                <label for="text">Enter text:</label>
                <input type="text" class="form-control" id="text" name="text" required>
            </div>
            <button type="submit" class="btn btn-primary">Check</button>
        </form>
        {% if result is not none %}
            <div class="mt-3 alert alert-info">
                {% if result %}
                <div>{{ result }}</div>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}



